body{
    background-color: lightgoldenrodyellow;
}

.parallax{
    background-image: url(soysause.jpeg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    height: 100vh;
}
.navbar > ul {
    position: absolute;
    display: flex;
    right: 0;
    list-style-type: none;
    margin: 0px;
    padding-right: 10%;
}

li {
    margin: 10px;
}



header{
    display: flex;
    justify-content: center;
    text-align: center;
}

h1{
    color: green;
    font-size: 40px;
    margin: 10px;  
}

.meny{

    text-align: center;
}

.meny-container{
    display: flex;
    justify-content: space-around;
}

.border {
    border-style: dotted;
    border-color: black;
    border-width: 3px;
    padding: 10px;
}

